*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:white;
    min-height:100vh;
    padding:40px;
}

.container{
    max-width:1200px;
    margin:auto;
}

.header{
    text-align:center;
    margin-bottom:50px;
}

.header h1{
    font-size:45px;
    margin-bottom:10px;
}

.header p{
    color:#94a3b8;
}

.dashboard{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:30px;
}

.card{
    background:#1e293b;
    padding:30px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.card h2{
    margin-bottom:20px;
}

.card input{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border:none;
    border-radius:10px;
    background:#334155;
    color:white;
}

.card label{
    display:block;
    margin-bottom:10px;
}

button{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#1d4ed8;
}

.results{
    margin-top:40px;
    background:#1e293b;
    padding:30px;
    border-radius:20px;
}

#resultBox{
    margin-top:20px;
}

.student{
    background:#334155;
    padding:15px;
    border-radius:10px;
    margin-bottom:10px;
}